<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/scripts.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
    <div class="container-fluid p-0">
        <!-- Top Navigation Menu -->

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Let's Hang</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      {{#if currentuser }}
      <a class="nav-item nav-link" href="/account">Account</a>
      <a class="nav-item nav-link" href="/friends">Friends</a>
      <a class="nav-item nav-link" href="/calendar">Calendar</a>
      <a class="nav-item nav-link" href="/auth/signout">Log out</a>
      {{else}}
      <a class="nav-item nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a href="/auth/signin" class="dropdown-item btn-login">Sign in with <img class="large-icon" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"></a>
      </div>
      {{/if}}

    </div>
  </div>
</nav>
    </div>
    <div class="container-fluid main-body"> 

    {{{ body }}}

    </div>
</body>
</html>