<div class="card profilecard">
    <div class="card-body">
        <h6 class="card-title">Register</h6>
        <form name="register" action="/register" method="post">
            <label for="username"><b>Username</b></label>
            <input class="login" type="text" placeholder="Enter Username" name="username" id="username" maxlength="26" required>
            <br>
            <br>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" minlength="8" maxlength="99" required>
            <br class="clear">
            <input class="btn-submit" type="submit" name="submit">
        </form>
        <br>
    </div>
</div>